.foot {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom:0px;
    z-index: 2;
    background-color: whitesmoke;
    height: 100px;
    align-items: center;
}

.foot_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    outline:none; /*border vs outline*/
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.foot_column:hover { 
    background-color: brown;
    color: white;
    transition: all 0.5s ease-out 0.1s;
    /*
    ease-in will start the animation slowly, and finish at full speed.
    ease-out will start the animation at full speed, then finish slowly.
    ease-in-out will start slowly, be fastest at the middle of the animation, then finish slowly.
    ease is like ease-in-out , except it starts slightly faster than it ends.
    */
    animation: 5s change_color infinite ease-in-out;
}

@keyframes change_color {
    0%{
        transform: none;
    }
    25%{
        transform: rotate(1turn);
        background-color: red;
    }
    50%{
        transform: matrix(2, 2, 0, 2, 45,0);
        background-color: blue;
    }
    75%{
        transform: translate(45px);
        background-color: pink;
    }
    100%{
        transform: scale(2);
        background-color: white;
    }
}