.foot {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom:0px;
    z-index: 2;
    background-color: whitesmoke;
    height: 100px;
    align-items: center;
}

.foot_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    outline:none; /*border vs outline*/
    text-decoration: none;
    color: brown;
}

.foot_column:hover { 
    background-color: brown;
    color: white;
}